<launch>
    <node pkg="calibrator_listener" type="calibrator_listener" name="calibrator_listener" output="screen">
        <!-- 离线模式 true / false -->
        <param name="offline"         type="bool"       value="true"/>

        <!-- 从service获取外参，提供service的名称 （不用改动）-->
        <param name="service_name"    type="string"     value="sensor_extrinsic" />

        <!-- 提供导航参数json文件的路径 -->
        <param name="nav_param_file"  type="string"     value="/home/momo/workspace/rbt_ws/src/calibrator_listener/param/web_param.json" />

        <!-- 输出json文件的路径 -->
        <param name="output_file"     type="string"     value="/home/momo/workspace/rbt_ws/src/calibrator_listener/param/test.json" />

        <!-- 设置tf发布频率（单位：赫兹）！！暂时没用到！！可以忽略 -->
        <param name="tf_frequency"    type="double"     value="10" />
    </node>
</launch>
